.bg-primary-signup {
    background: linear-gradient(135deg, #446cb1, #ea3fb9) !important;
    clip-path: polygon(0% 0%, 100% 0%, 26.8% 100.3%, 0% 100%);
    box-shadow: 0 0 25px #236ac0;
}

.card-style {
    box-shadow: 0 0 25px #236ac0;
}

.text-white {
    color: white;
}

@media (max-width: 576px) {
    .card-style {
        height: auto;
        margin: 1rem;
    }

    .bg-primary-signup {
        padding: 2rem 1rem !important;
        text-align: center;
        clip-path: none;
        border-radius: 15px 15px 0 0;
    }
}
