.bg-primary-lgn {
  box-shadow: 0 0 25px #236ac0;
  background: linear-gradient(135deg, #446cb1, #ec54c1) !important;
  clip-path: polygon(0% 0%, 100.1% 0%, 100.1% 100.3%, 68.2% 100.3%);
}

.card-style {
  box-shadow: 0 0 25px #236ac0;
  height: 600px;
}

.text-white {
  color: white;
}

.direction-L {
  text-align: left;
  display: block;
}


@media (max-width: 576px) {
  .card-style {
    height: auto !important;
    margin: 1rem;
    flex-direction: column;
  }

  .bg-primary-lgn {
    padding: 2rem 1rem !important;
    text-align: center;
    clip-path: none;
    background: linear-gradient(135deg, #446cb1, #ec54c1) !important;
  }

  .direction-L {
    text-align: left;
  }

  .card-style img {
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
